#start {
    color: dodgerblue;
    font-size: 44px;
    font-family: fantasy;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 12px;
}

body {
    margin: 4px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:hover {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(155, 155, 136);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 128, 108);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(108, 108, 81);
}

::-webkit-scrollbar-track {
    background-color: rgb(233, 233, 200);
    border-radius: 6px;
}

#cnt {
    font-weight: bold;
    font-size: 25px;
}

#myCanvas {
    position: absolute;
    margin-top: 3px;
    margin-bottom: 2px;
}

button {
    border-radius: 5px;
    border: 1px solid rgb(183, 183, 183);
    margin: 2px;
}

#day_mode {
    background-color: rgb(225, 225, 225);
    transition: 0.3s;
}

#night_mode {
    background-color: black;
    transition: 0.3s;
}

#custom {
    background-color: rgb(225, 225, 225);
    transition: 0.3s;
}

#custom:focus {
    background-color: rgb(216, 248, 248);
}

#gravity {
    transition: 0.2s;
}

#energy_loss {
    transition: 0.2s;
}

#universe_mode {
    transition: 0.2s;
}

#user_settings {
    display: none;
    margin-left: -120px;
    margin-top: -175px;
    width: 240px;
    background-color: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(18px);
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid rgba(160, 160, 160, 0.7);
    border-radius: 10px;
    z-index: 9;
    text-align: center;
}

#grav_c {
    margin-bottom: 8px;
    text-align: left;
    margin-left: 25px;
}

#bg_color {
    margin-top: 8px;
    margin-bottom: 10px;
}

.user_input {
    width: 50px;
    height: 21px;
    margin: 4px;
    border: 1.5px solid rgba(160, 160, 160, 0.7);
    border-radius: 6px;
    background-color: rgba(240, 240, 240, 0.7);
}

#g_const {
    margin-top: 10px;
    width: 180px;
}

#color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

#save_set {
    width: 55px;
    height: 27px;
    margin-right: 8px;
    margin-bottom: 12px;
    border: 0px;
    background-color:rgba(135, 206, 240, 0.75);
}

#cancel_set {
    width: 55px;
    height: 27px;
    margin-left: 8px;
    margin-bottom: 12px;
    border: 0px;
    background-color:rgba(240, 240, 240, 0.75);
}