#start {
    color: dodgerblue;
    font-family: fantasy;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 12px;
}

#cnt {
    font-weight: bold;
    font-size: 25px;
}

#myCanvas {
    position: absolute;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:hover{
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(155, 155, 136);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 128, 108);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(108, 108, 81);
}

::-webkit-scrollbar-track {
    background-color: rgb(233, 233, 200);
    border-radius: 6px;
}
