.titlestyle234689{ font-size: 9pt; color: #222222; text-decoration: none ;}

.wznr p{font-size: 16px !important;
    line-height: 200% !important;
    font-family: 微软雅黑 !important;margin-bottom: 20px !important;letter-spacing: 0px !important;}
.wznr span{font-size: 16px !important;
    line-height: 200% !important;
    font-family: 微软雅黑 !important;letter-spacing: 0px !important;}
