.post-content details {
    font-size: 1rem;
    background-color: var(--code-bg);
    border-radius: var(--radius);
    padding: 16px;
    margin: var(--content-gap) 0;
}

.post-content summary {
    display: flex;
    cursor: pointer;
    margin-left: -4px;
    user-select: none;
    align-items: center;
}

details[open] > summary {
    margin-bottom: 8px;
}

.post-content .collapse {
    font-size: 1rem;
    background-color: var(--code-bg);
    border-radius: var(--radius);
    padding: 16px;
    padding-bottom: 12px;
    margin: var(--content-gap) 0;
}

.collapse-content *:last-child {
    margin-bottom: 0px;
}

.post-content .collapse-arrow {
    display: inline-flex;
    transform: rotate(-90deg);
    transition: transform 0.15s;
}

details[open] > summary > .collapse-arrow {
    transform: rotate(0deg);
}

.post-content .collapse-title {
    font-weight: bold;
    user-select: none;
    margin-left: 0.2em;
}

.post-content .collapse-title1 {
    font-weight: bold;
    user-select: none;
    margin-left: -2px;
    cursor: zoom-in;
    margin-bottom: 4px;
}

.post-content .collapse-title1.opened {
    cursor: zoom-out;
}

.post-content .collapse-title1::before {
    content: "👉";
    display: inline-block;
    margin-right: 4px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.post-content .collapse-title1.opened::before {
    transform: rotate(90deg);
}

.collapse-content {
    display: grid;
    overflow: hidden;
    grid-template-rows: 0fr;
    transition: all .3s;
}

.collapse-content > * {
    min-height: 0;
    transition: visibility .3s;
    visibility: hidden;
    border-top: 1px dashed var(--secondary);
}

.collapse-content.show {
    grid-template-rows: 1fr;
    transition: all .3s;
}

.collapse-content.show > * {
    visibility: visible;
    transition: visibility .3s;
}
