.post-content details {
    font-size: 1rem;
    background-color: var(--code-bg);
    border-radius: var(--radius);
    padding: 16px;
    margin: var(--content-gap) 0;
}

.post-content summary {
    display: flex;
    cursor: pointer;
    margin-left: -4px;
    user-select: none;
    align-items: center;
}

details[open] > summary {
    margin-bottom: 8px;
}

.post-content .collapse {
    font-size: 1rem;
    background-color: var(--code-bg);
    border-radius: var(--radius);
    margin: 0.5em 0;
    padding: 0.5em;
}

.post-content .collapse-arrow {
    display: inline-flex;
    transform: rotate(-90deg);
    transition: transform 0.15s;
}

details[open] > summary > .collapse-arrow {
    transform: rotate(0deg);
}

.post-content .collapse-title {
    font-weight: bold;
    user-select: none;
    margin-left: 0.2em;
}

.post-content .collapse-title1::before {
    content: "👉";
}

.post-content .collapse-title1.opened::before {
    content: "👇";
}

.post-content .collapse-content:not(.show) {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.post-content .collapse-content.show {
    max-height: 1000px;
    transition: .3s;
}
