@font-face {
    font-family: "仓耳今楷";
    src: url("/fonts/仓耳今楷2.eot"); /* IE9 */
    src: url("/fonts/仓耳今楷2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("/fonts/仓耳今楷2.woff") format("woff"), /* chrome、firefox */
    url("/fonts/仓耳今楷2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("/fonts/仓耳今楷2.svg#仓耳今楷2") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

.post-content {
    font-family: "仓耳今楷";
    text-align: justify;
}

.post-content blockquote {
    font-family: "STKaiti", "KaiTi", "楷体", "SimKai", "DFKai-SB", "NSimSun", "serif";
    margin: 20px 0;
    padding: 0 14px;
    border-radius: 0px 8px 8px 0px;
    border-inline-start: 3px solid var(--primary);
    box-shadow: 3px 2px 13px -3px rgb(69, 70, 72);
}