.top-link {
    transition: visibility 0.5s, opacity 0.3s linear, color 0.3s, scale 0.5s;
}

.top-link::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 20px;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 14px;
    border-radius: 4px;
    background: var(--secondary);
    transform: scaleY(0.1);
    transform-origin: 50% 10%;
    color: var(--secondary);
    transition: transform 0.3s;
}

.top-link:hover::before {
    transform: scaleY(1);
    background: var(--primary);
}

.top-link:hover svg {
    transform: translateY(-3px);
}

.top-link svg {
    transition: transform 0.3s;
}

footer.footer {
    padding: calc((var(--footer-height) - 48px) / 2) var(--gap);
}
