.post-content div.figure-wrap {
    display: flex;
}

.post-content div.figure-wrap.center {
    justify-content: center;
}

.post-content div.figure-wrap.right {
    justify-content: flex-end;
}

.post-content div.figure-wrap.left {
    justify-content: flex-start;
}

.post-content div.figure-wrap figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.post-content div.figure-wrap figure img {
    display: block;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    box-shadow: 0 0 2px #555;
    max-width: 100%;
}

.post-content div.figure-wrap figcaption {
    display: flex;
    font-size: 0.8rem;
    color: #555;
    margin: 0.2rem;
}

.post-content img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    box-shadow: 0 0 2px #555;
    max-width: 75%;
}

.post-content img[src$='#left'] {
    float: left;
    margin: 0.7rem;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    box-shadow: 0 0 10px #555;
    max-width: 45%;
}

.post-content img[src$='#right'] {
    display: block;
    float: right;
    margin: 0.7rem;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    box-shadow: 0 0 10px #555;
    max-width: 45%;
}

.post-content img[alt$="><"] {
    display: block;
    float: none !important;
    margin: 0.7rem auto;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    box-shadow: 0 0 10px #555;
    max-width: 75%;

}

.post-content img[alt$="<"] {
    float: left;
    margin: 0.7rem;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    box-shadow: 0 0 10px #555;
    max-width: 45%;
}

.post-content img[alt$=">"] {
    float: right;
    margin: 0.7rem;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0px #ece7e7;
    -moz-box-shadow: 0 0 0px #ece7e7;
    box-shadow: 0 0 10px #555;
    max-width: 45%;
}