#theme-toggle svg {
    width: 18px;
    border-radius: 20px;
    transition: all .3s;
}

#theme-toggle svg:hover {
    background: var(--primary);
    color: var(--theme);
    box-shadow: 0 0 0.3rem 0.2rem var(--primary);
}

.lang-switch a {
    position: relative;
    border-radius: 20px;
    padding: 4px 10px;
    margin: 0;
    line-height: normal;
    transition: .3s;
}

.lang-switch a:hover {
    background-color: var(--border);
}

.lang-switch a::before {
    content: "";
    position: absolute;
    left: 10%;
    /* bottom: calc(var(--header-height)/4); */
    bottom: 0;
    height: 1.5px;
    width: 80%;
    background: var(--primary);
    transform: scale(0);
    transition: all .3s;
}

.lang-switch a:hover::before {
    transform: scale(1);
}

.logo {
    margin-right: 8px;
}

/* .logo > a:hover {
    filter: drop-shadow(0 0 2px rgba(150, 150, 150, 0.6));
    transform: translateY(-1px) scale(1.05);
} */

.main .terms-tags li a {
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(120, 120, 120, 0.5);
    transition: 0.15s;
}

.main .terms-tags li a:hover {
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(120, 120, 120, 0.8);
    transform: translateY(-2px);
}

#menu .active {
    font-size: unset;
    font-weight: 600;
    background-color: var(--tertiary);
    border-bottom: 2px solid var(--tertiary);
}

#menu li+li {
    margin-inline-start: 2px;
}

#menu li a span {
    position: relative;
    padding: 3px 8px;
    border-radius: 20px;
    transition: .3s;
}

#menu li a span:hover:not(.active) {
    /* filter: drop-shadow(0 0 0.03rem var(--primary)); */
    background-color: var(--border);
    /* transform: scale(1.2); */
}

#menu li a span::before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0;
    height: 1.5px;
    width: 70%;
    background: var(--primary);
    transform: scale(0);
    transition: all .25s;
}

#menu li a span:hover::before {
    transform: scale(1);
}

body:not(.dark) #sun_mode {
    display: none;
}

body:not(.dark) #sun {
    display: block;
}

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all .3s;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--border);
}

header.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--theme);
    opacity: 0.8;
    z-index: -1;
}

.list:not(.dark) header.header::before {
    background-color: var(--code-bg);
}

main.main {
    padding-top: calc(var(--header-height) + var(--gap));
    transition: all .3s;
}