.post-entry {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* align-items: center; */
    transition: box-shadow .4s ease, transform .4s ease;
    box-shadow: 0 2px 4px rgb(5 10 15 / 5%), 0 7px 13px -3px rgb(5 10 15 / 30%);
    transition: 0.25s;
}

.post-entry:hover {
    box-shadow: 0 2px 4px rgb(5 10 15 / 15%), 0 7px 13px -3px rgb(5 10 15 / 50%);
    transform: translateY(-2px);
}

.post-entry:active {
    box-shadow: 0 2px 4px rgb(5 10 15 / 10%), 0 7px 13px -3px rgb(5 10 15 / 40%);
    transform: translateY(0px);
    transform: scale(0.98);
}

.entry-cover {
    overflow: hidden;
    align-self: center;
    margin-left: 8px;
    height: 100%;
    width: 50%;
    margin-bottom: 0;
}

.post-info {
    display: flex;
    margin-left: 8px;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-info .entry-header {
    margin-top: 2px;
}

.post-info .entry-footer {
    margin-bottom: 2px;
}

.post-meta {
    align-items: baseline;
}

.meta-tag {
    display: inline-block;
}

.post-title {
    font-size: 32px;
}

.post-content h1 {
    font-size: 36px;
}

.post-content pre code, .post-content code {
    font-family: consolas, Menlo, pingfang sc, microsoft yahei, sans-serif;
}

.post-content code {
    border-radius: 4px;
    padding-bottom: 2px;
    font-size: 0.8em;
}

.post-content pre code {
    padding-right: 5px;
}

/* .post-content:first-of-type pre.chroma {
    border-left: 0;
} */

/* 
.post-content pre code .lnt {
    border-right: #CCC 1px solid;
} */

.post-content pre code .lnt {
    padding-right: 0;
}

.post-content del {
    text-decoration: line-through 1.5px;
    /* background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50%/1px 1.5px repeat-x; */
    background: none;
}

.post-content blockquote {
    font-family: palatino linotype,
        book antiqua,
        Palatino,
        STKaiti,
        KaiTi,
        楷体,
        SimKai,
        DFKai-SB,
        NSimSun,
        serif;
    background: var(--quote-bg);
    margin: 20px 0;
    padding: 0 14px;
    border-radius: 0px 8px 8px 0px;
    border-inline-start: 3px solid var(--content);
    box-shadow: 1px 1px 7px -3px rgb(69, 70, 72);
}

.post-content figure>figcaption>p {
    text-align: center;
}

.post-content ul {
    padding-inline-start: 14px;
}

.copy-code {
    display: block;
    opacity: 0;
    transition: 0.15s;
    color: rgb(255, 255, 255);
    background: rgb(78, 78, 78);
}

div.highlight .lntable:hover .copy-code {
    opacity: 0.6;
}

div.highlight .lntable:hover .copy-code:hover {
    opacity: 1;
}

:root {
    --hljs-bg: #fefbf1;
    --quote-bg: #f5f5f5;
}

.dark {
    --hljs-bg: #272d35;
    --quote-bg: #2e2e33;
}

.page-header .post-description {
    font-size: 16px;
}

.page-header h1 {
    font-size: 32px;
}

::selection {
    background: var(--primary);
    color: var(--theme);
}

::-moz-selection {
    background: var(--primary);
    color: var(--theme);
}

.main {
    padding-right: 18px;
    padding-left: 18px;
}