.post-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: box-shadow .4s ease, transform .4s ease;
    box-shadow: 0 2px 4px rgb(5 10 15 / 5%), 0 7px 13px -3px rgb(5 10 15 / 30%);
    transition: 0.25s;
}

.post-entry:hover {
    box-shadow: 0 2px 4px rgb(5 10 15 / 15%), 0 7px 13px -3px rgb(5 10 15 / 50%);
    transform: translateY(-2px);
}

.post-entry:active {
    box-shadow: 0 2px 4px rgb(5 10 15 / 10%), 0 7px 13px -3px rgb(5 10 15 / 40%);
    transform: translateY(0px);
    transform: scale(0.98);
}

.entry-cover {
    overflow: hidden;
    padding-left: 18px;
    height: 100%;
    width: 50%;
    margin-bottom: unset;
}

.post-info {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.post-meta {
    align-items: baseline;
}

.meta-tag {
    display: inline-block;
}

.post-title {
    font-size: 32px;
}

.post-content h1 {
    font-size: 36px;
}

.post-content pre code, code {
    font-family: consolas, Menlo, pingfang sc, microsoft yahei, sans-serif;
}

.post-content del {
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50%/1px 1.5px repeat-x;
}

.copy-code {
    display: block;
    opacity: 0;
    transition: 0.15s;
    color: rgb(255, 255, 255);
    background: rgb(78, 78, 78);
}

div.highlight .lntable:hover .copy-code {
    opacity: 0.6;
}

div.highlight .lntable:hover .copy-code:hover {
    opacity: 1;
}

:root {
    --hljs-bg: rgb(45, 45, 55);
}
