{{- /* Comments area start */ -}}
{{/*  <script 
src="https://utteranc.es/client.js" 
repo="sunnycloudyang/sunnycloudyang.github.io" 
issue-term="url" 
theme="github-light"
crossorigin="anonymous" 
async>
    </script>  */}}

<script src="https://giscus.app/client.js"
        data-repo="SunnyCloudYang/SunnyCloudYang.github.io"
        data-repo-id="R_kgDOH1xBTw"
        data-category="Comments"
        data-category-id="DIC_kwDOH1xBT84CUhb2"
        data-mapping="url"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang={{ .Site.LanguageCode }}
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<script>
    // update giscus theme when giscus is loaded
    window.addEventListener('message', function (event) {
        if (event.origin !== 'https://giscus.app') return;
        if (event.data.giscus) {
            updateGiscusTheme();
        }
    });
    function updateGiscusTheme() {
        function sendMessage(message) {
            const iframe = document.querySelector('iframe.giscus-frame');
            if (!iframe) return;
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }
        sendMessage({
            setConfig: {
                theme: localStorage.getItem('pref-theme'),
            }
        });
    }

    const themeToggle = document.getElementById("theme-toggle");

    if (typeof themeToggle !== "undefined") {
        themeToggle.addEventListener('click', ()=>
            setTimeout(updateGiscusTheme, 50));
    }
</script>
{{- /* Comments area end */ -}}
