{{- /* Comments area start */ -}}
{{/*  <script 
src="https://utteranc.es/client.js" 
repo="sunnycloudyang/sunnycloudyang.github.io" 
issue-term="url" 
theme="github-light"
crossorigin="anonymous" 
async>
    </script>  */}}

<script src="https://giscus.app/client.js"
        data-repo="SunnyCloudYang/SunnyCloudYang.github.io"
        data-repo-id="R_kgDOH1xBTw"
        data-category="Comments"
        data-category-id="DIC_kwDOH1xBT84CRcpd"
        data-mapping="url"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{- /* Comments area end */ -}}
