{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ if .Page.Store.Get "needMermaid" -}}
<script type="module">
    var theme = 'neutral';
    if (localStorage.getItem("pref-theme") == "dark") {
        theme = 'dark'
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme = 'dark'
    }
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
        startOnLoad: true,
        'theme': theme,
    });
</script>
{{ end -}}