{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ if .Page.Store.Get "needMermaid" -}}
<script type="module">
    var theme = 'neutral';
    if (localStorage.getItem("pref-theme") == "dark") {
        theme = 'dark'
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme = 'dark'
    }
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
        startOnLoad: true,
        'theme': theme,
    });
</script>
{{ end -}}

{{ if isset .Params "js" }}
{{ range .Params.js }}
<script src="{{ . | relURL }}" type="module"></script>
{{ end }}
{{ end }}

{{ if isset .Params "css" }}
{{ range .Params.css }}
<link rel="stylesheet" href="{{ . | relURL }}">
{{ end }}
{{ end }}

{{ if isset .Params "three" }}
<script async src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"></script>
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.149.0/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@0.149.0/examples/jsm/",
      "cannon-es": "https://cdn.skypack.dev/cannon-es",
      "noisejs": "https://cdn.skypack.dev/noisejs",
      "cannon-es-debugger": "/js/cannon-es-debugger.js"
    }
  }
</script>
{{ end }}

